<!doctype html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SL</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --button-height: 32px;
      --font-size: 16px;
      --button-bg: white;
      --button-active-bg: #eee;
      --border-radius: 4px;
      --color: #333;
      --border-color: #999;
      --border-color-hover: #666;
    }

    #app {
      /* margin: 20px; */
    }
  </style>
  <style>
    #demo{
      background: darkseagreen;
      height: 100px;
      border: 1px solid red;
    }
  </style>
</head>

<body>
  <div id="app">

    <div>

      <!-- <sl-tabs selected="selectedTab" @update:selected="selectedTab"> -->
        <sl-tabs :selected.sync="selectedTab" >
          <sl-tabs-head>
            <template slot="acions">设置</template>
            <sl-tabs-item name="1">靓仔</sl-tabs-item>
            <sl-tabs-item name="2" disabled>财经</sl-tabs-item>
            <sl-tabs-item name="3">冲浪</sl-tabs-item>
          </sl-tabs-head>
          <sl-tabs-body>
            <sl-tabs-pane name="1">广西靓仔</sl-tabs-pane>
            <sl-tabs-pane name="2">相关财经</sl-tabs-pane>
            <sl-tabs-pane name="3">网速冲浪</sl-tabs-pane>
          </sl-tabs-body>
          
        </sl-tabs>
        
      </div>

      <div style="margin:100px">
        <sl-popover v-model="isPopover">
          <div slot="content"> 哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
          <sl-button>点击</sl-button>
        </sl-popover>
      </div>
    <!-- <div>
      <sl-button @click="clickToast1">Toast-top</sl-button>
      <sl-button @click="clickToast2">Toast-middle</sl-button>
      <sl-button @click="clickToast3">Toast-bottom</sl-button>
    </div> -->


  <!-- <div style="border: 1px solid red; ">
<sl-row >
  <sl-col :span="24" :narrow-pc="{span:8}" :ipad="{span:8}">
    <div id="demo">hh</div>
  </sl-col>
  <sl-col :span="24" :narrow-pc="{span:8}" :ipad="{span:8}">
    <div id="demo">hh</div>
  </sl-col>
  <sl-col :span="24" :narrow-pc="{span:8}" :ipad="{span:8}">
    <div id="demo">hh</div>
  </sl-col>
</sl-row>
  <sl-row gutter="20" align="left">
    <sl-col span="12" >1 </sl-col>
    <sl-col span="12" > 2</sl-col>
  </sl-row>

    </div> -->
    <!-- <div>
      <sl-input v-model="something" @change="inputChange"></sl-input>
      {{something}}
    </div>

    <sl-input value="苏宋霖" disabled></sl-input>
    <sl-input value="苏先生" readonly></sl-input>
    <sl-input value="苏" error="名字不能输入一个字"></sl-input> -->

    <!-- <div style="margin:15px 0">
      <sl-button>我不爱css </sl-button>
      <sl-button @click=" loading1 = !loading1" icon="xiazai" :loading="loading1" icon-position="left">我不爱css
      </sl-button>
      <sl-button @click=" loading2 = !loading2" icon="set" :loading="loading2" icon-position="right">我不爱css</sl-button>
      <sl-button-group>
        <sl-button icon="previous" icon-position="left">上一页</sl-button>
        <sl-button icon-position="right">更多</sl-button>
        <sl-button icon="next" icon-position="right">下一页</sl-button>
      </sl-button-group>
    </div> -->
  </div>
  <div id="test"></div>
  <script src="./src/app.js"></script>
</body>

</html>