
$border-color-hover: #4A90E2;
$border-color: #D0D0D0;
$border-radius: 2px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$button-active-bg: red;
$button-bg: white;
$button-height: 38px;
$color: #333;
$font-size: 14px;
$input-height:32px;
$red: #C23934;